
.context-1{
 text-align: center;
 padding-top: 5%;
 font-size: 1.4em;
    
}

.context-2{
 text-align: center;
 padding-top: 5%;
 font-size: 1.4em;
}

.left-ul li{
    float: left;
}

.re-size{
    color: white;
    
}